#
# The server creates one single object adapter with the name
# "Hello". The following line sets the endpoints for this
# adapter.
#
Printer.Endpoints=tcp -p 9099
Printer.ThreadPool.Size=5
#
# Only listen on the ZeroTier's LIASOn1 interface by default.
#
Ice.Default.Host=hgrid16

Ice.ThreadPool.Client.Size=5
Ice.ThreadPool.Server.Size=5
Ice.ThreadPool.Client.SizeMax=10
Ice.ThreadPool.Server.SizeMax=10

